$color-primary: #9775fa;
$color-primary-light: #b197fc;

$color-grey-dark: #868E96;
$color-grey-light: #f1f3f5;

$color-white: #fff;
$color-black: #0f141e;

// FONT
$default-font-size: 1.6rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;