// $color-primary: #9775fa;
$color-primary: #191645;
$color-primary-light: #191645e3;
// $color-primary-light: #b197fc;
// $color-primary-dark: #7048e8;

$color-grey-dark: #868E96;
$color-grey-medium: #e7e8e9;
$color-grey-light: #f1f3f5;

$color-white: #fff;
$color-black: #0f141e;

// FONT
$default-font-size: 1.6rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;