.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section-about,
.section-project,
.section-contact {
  padding: 10rem 0;
}

.section-skill {
  background-color: $color-white;

  &__shape {
    padding: 20rem 0;
    width: 100%;
    background-color: $color-primary;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

    @include respond(phone) {
      // width < 900?
      -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
  }

  .skill-heading {
    color: $color-white;
  }
}

.section-footer {
  padding: 3rem 3rem 10rem 3rem;
}

.section-menu {
  background-color: $color-primary;
  color: $color-white;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in;
}
