.section-about,
.section-project,
.section-contact {
  padding: 10rem 0;
  background-color: $color-white;
}

.section-skill {
  background-color: $color-white;

  &__shape {
    padding: 20rem 0;
    width: 100%;
    background-color: $color-primary;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }

  .skill-heading {
      color: #fff;
  }
}
