.achievement {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  @include respond(tab-port) {
    // width < 900
    flex-direction: column;
  }

  &__box {
    width: 26rem;
    background-color: $color-primary;
    padding: 1rem;

    @include respond(tab-land) {
      // width < 1200
      width: 50%;
    }

    @include respond(tab-port) {
      // width < 900
      width: 100%;
    }
  }

  &__title, &__detail, &__icon {
    color: $color-white;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__title {
    font-weight: $font-weight-medium;
    font-size: 2.4rem;

    @include respond(tab-port) {
      // width < 900
      font-size: 2rem;
    }
  }

  &__detail {
    font-size: 1.8rem;
  }
}
